@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap,400,700');

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  font-family: 'Open Sans', sans-serif;

  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  overflow-y: scroll;

  background-color: #ffffff;
}

.overlayButton {
  background: #ffffff;
  background-color: rgba(15, 250, 0, 0.9);
  mix-blend-mode: luminosity;

  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 5px 0 10px rgba(255, 255, 255, 0.9);

  width: 60%;
  max-width: 450px;
  margin-top: -5%;
  z-index: 4;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  text-decoration: none;
  text-align: center;
  background-image: linear-gradient(
    45deg,
    rgba(0, 255, 0, 0.2) 0%,
    rgba(0, 255, 0, 0.2) 50%,
    rgba(0, 255, 0, 0.2) 100%
  );
  background-size: 200%;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  position: relative;
}

.overlayButton:hover {
  color: rgb(0, 255, 0, 0.1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  opacity: 0.4;
}

.overlayButton:active {
  color: rgb(0, 255, 0, 0.1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  opacity: 0.4;
}

.overlayButtonText {
  height: 100%;
  margin: 0;
  padding: 2px;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.whatWeDoSection {
  background-color: rgba(255, 255, 255, 0.8);
  mix-blend-mode: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.whatWeDoTitle {
  z-index: 1;
  height: 50px;
  width: 100vw;
  margin: 10px;
  text-indent: 20px;
  border-bottom: 0.2rem solid #000000;
  text-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);

  font-size: 7vw;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.cardWrapper {
  background: rgb(0, 0, 0);
  width: 100vw;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  padding: 50px 0 0 0;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  color: #ffffff;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  position: relative;
  width: 320px;
  height: 320px;

  margin: 3px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardBackgroundImage {
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 5;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {
  position: relative;
}

.cardTitle {
  margin-top: 15px;
  z-index: 7;

  font-size: 6vw;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.cardSubTitle {
  margin: 0px 25px 0px 25px;
  z-index: 7;

  font-size: 4vw;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

@media screen and (min-width: 900px) {
  .cardTitle {
    font-size: 22px;
  }
  .cardSubTitle {
    font-size: 20px;
  }
  .whoWeAreTitle {
    font-size: 44px;
  }
  .whatWeDoTitle {
    font-size: 44px;
  }
  .signupMenuCardTitle {
    font-size: 28px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .cardTitle {
    font-size: 22px;
  }
  .cardSubTitle {
    font-size: 20px;
  }
  .whoWeAreTitle {
    font-size: 36px;
  }
  .whatWeDoTitle {
    font-size: 36px;
  }
  .signupMenuCardTitle {
    font-size: 24px;
  }
}

@media screen and (min-width: 450px) and (max-width: 900px) {
  .cardTitle {
    font-size: 22px;
  }
  .cardSubTitle {
    font-size: 20px;
  }
  .whoWeAreTitle {
    font-size: 24px;
  }
  .whatWeDoTitle {
    font-size: 24px;
  }
  .signupMenuCardTitle {
    font-size: 22px;
  }
}
