@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap,400,700');

.main {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  font-family: 'Open Sans', sans-serif;

  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  overflow-y: scroll;

  background-color: #ffffff;
}

.videoWrapper {
  z-index: -1;

  position: relative;
  margin-top: 75px;
  width: 100vw;
}

.backgroundImage {
  margin-top: 20px;
  position: relative;
  top: 15%;
  left: 15%;
  height: 67vw;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  transform: translate(-15%, -15%);
}

.backgroundOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlayTitle {
  color: #ffffff;
  margin: 0;

  font-size: 4vw;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.overlaySubTitle {
  color: #ffffff;
  margin: 0;

  font-size: 3vw;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.overlayButton {
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  mix-blend-mode: screen;
  color: #000000;
  width: 60%;
  border-radius: 100px;
  margin-top: -5%;
  z-index: 10;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
  border: 1px solid #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  text-decoration: none;
  text-align: center;
}

.overlayButton:hover {
  background: #ffffff;
  background-image: linear-gradient(315deg, #414141 0%, #ffffff 74%);
  color: #000000;
  opacity: 0.6;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
  border: 1px solid #000000;
}

.overlayButton:active {
  background: #ffffff;
  color: #000000;
  opacity: 0.8;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
  border: 1px solid #000000;
  tranform: scale(0.95);
}

.overlayButtonText {
  height: 100%;
  margin: 0;
  padding: 2px;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 4vw;
  font-weight: 500;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.signupMenuCardWrapper {
  backdrop-filter: blur(8px);
  position: absolute;
  top: 25%;
  left: 50%;
  width: 75%;
  max-width: 300px;
  height: 450px;
  margin: auto;

  z-index: 10;

  border-radius: 10px;

  transform: translate(-50%);
}

.signupMenuCardWrapperHidden {
  display: none;

  transition: all 0.2s ease-in-out;
}

.signupMenuCard {
  width: 100%;
  height: 100%;

  border-radius: 10px;
  box-shadow: 0 2px 40px 2px rgba(0, 0, 0, 0.8);

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.signupMenuCardTitle {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.signupMenuCardForm {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupMenuCardFormInput {
  width: 65%;
  height: 26px;
  margin-bottom: 20px;

  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 2px 40px 2px rgba(0, 0, 0, 0.8);
}

.signupMenuCardFormSubmit {
  width: 50%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  box-shadow: 0 2px 40px 2px rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  font-size: 16px;

  cursor: pointer;
}

.signupMenuCardFormSubmit:hover {
  transform: scale(0.95);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.orWrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lineBetweenOrDivs1234 {
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin-left: 10%;
  margin-right: 5%;
}

.lineBetweenOrDivs5678 {
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin-left: 5%;
  margin-right: 10%;
}

.signupMenuCardFormSubmitGoogle {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.signupMenuCardFormSubmitGoogle:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0 2px 5px 2px rgba(255, 255, 255, 1);
  transform: scale(0.95);
}

.googleLogoWrapper {
  width: 50px;
  height: 50px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 5px 2px rgba(255, 255, 255, 0.8);
}

.signupMenuCardCloseBtnWrapper {
  height: 50px;
  width: 100%;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.signupMenuCardCloseBtn {
  cursor: pointer;
}

.whoWeAreSection {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.whoWeAreTitle {
  width: 100vw;
  padding: 2vw 0 0 2vw;

  border-bottom: 0.2rem solid #000000;
  text-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);

  font-size: 4vw;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.youtubeEmbedWrapper {
  width: 100vw;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.youtubeEmbed {
  width: 75%;
  aspect-ratio: 16/9;

  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.whatWeDoSection {
  background-color: rgba(255, 255, 255, 0.8);
  mix-blend-mode: unset;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.whatWeDoTitle {
  z-index: 1;
  height: 50px;
  width: 100vw;
  margin: 10px;

  border-bottom: 0.2rem solid #000000;
  text-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);

  font-size: 4vw;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.cardWrapper {
  background: rgb(0, 0, 0);
  width: 100vw;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  padding: 50px 0 0 0;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  color: #ffffff;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  position: relative;
  width: 320px;
  height: 320px;

  margin: 3px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardBackgroundImage {
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 5;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {
  position: relative;
}

.cardTitle {
  margin-top: 15px;
  z-index: 7;

  font-size: 5vw;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.cardSubTitle {
  margin: 0px 25px 0px 25px;
  z-index: 7;

  font-size: 4vw;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

@media screen and (min-width: 900px) {
  .cardTitle {
    font-size: 22px;
  }
  .cardSubTitle {
    font-size: 20px;
  }
  .whoWeAreTitle {
    font-size: 44px;
  }
  .whatWeDoTitle {
    font-size: 44px;
  }
  .signupMenuCardTitle {
    font-size: 28px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .cardTitle {
    font-size: 22px;
  }
  .cardSubTitle {
    font-size: 20px;
  }
  .whoWeAreTitle {
    font-size: 36px;
  }
  .whatWeDoTitle {
    font-size: 36px;
  }
  .signupMenuCardTitle {
    font-size: 24px;
  }
}

@media screen and (min-width: 450px) and (max-width: 900px) {
  .cardTitle {
    font-size: 22px;
  }
  .cardSubTitle {
    font-size: 20px;
  }
  .whoWeAreTitle {
    font-size: 24px;
  }
  .whatWeDoTitle {
    font-size: 24px;
  }
  .signupMenuCardTitle {
    font-size: 22px;
  }
}
