


.backgroundWrapper {
    z-index: -1;

    
    
    position: relative;
}

.backgroundImage {
    position: fixed;
    top: 0;
    left: 15%;
    width: 100vw;
    aspect-ratio: 16/9;
    margin: 0 auto 0 auto;
  
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  
    transform: translate(-15%, -15%);
}

.main {
    position: absolute;
    margin-top: 100px;
    padding: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
  }

  .contentWrapper {
    height: 100vh;
  }

  .content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .buttonsWrapper {
    width: 500px;
    height: 370px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .events {
    background: #fff;
    width: 280px;
    height: 40px;

    border: solid 2px lightgreen;
    border-radius: 25px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all 0.05s ease-in-out;
  }

  .stats {
    background: #fff;
    width: 280px;
    height: 40px;

    border: solid 2px lightgreen;
    border-radius: 25px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all 0.05s ease-in-out;
  }

  .account {
    background: #fff;
    width: 280px;
    height: 40px;

    border: solid 2px lightgreen;
    border-radius: 25px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all 0.05s ease-in-out;
  }

  .events:hover,
  .stats:hover,
  .account:hover {
    background: green;
    color: #fff;
    width: 265px;
    height: 35px;
    margin: 2.5px;

    box-shadow: 0 0 10px rgba(0,0,0,1);

    text-shadow: 0 0 4px #fff;
    transition: all 0.05s ease-in-out;
  }


  /* Cards */

  .cardsWrapper {
    background: green;
  }

  .eventsCard {
    background: #fff;
    width: 500px;
    height: 200px;
  }

  .hidden {
    display: none;
  }