.backgroundWrapper {
  z-index: -1;
}

.backgroundImage {
  position: fixed;
  min-width: 2048px;
  min-height: 1152px;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}

.main {
  position: absolute;
  padding: 5px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.dashboardWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.toggleWrapper {
  width: 100vw;
  height: 25px;
  margin-top: 85vh;
  z-index: 0;

  background: #fff;
  border: 1px solid #000;
  border-radius: 25px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.05s ease-in-out;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.toggle {
  z-index: 1;
  position: relative;
  width: 25px;
  height: 25px;
  transition: all 0.05s ease-in-out;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: 25px;
  align-self: center;
}
.toggleIcon {
  width: 25px;
  height: 25px;
  transition: all 0.05s ease-in-out;
}

.userOptionCollapsed {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  transition: all 0.05s ease-in-out;
  display: flex;
  align-self: center;
  align-items: center;
  align-content: center;
}

.userOptionCollapsed:hover:active {
  transform: scale(0.9);
  transition: all 0.05s ease-in-out;
}
.contentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.userOptionWrapper {
  width: 365px;
  height: 350px;
  margin-top: 110px;

  margin-top: 40vh;
  margin-bot: 40vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.userOption {
  background: #fff;
  width: 125px;
  height: 40px;
  border: solid 2px lightgreen;
  border-radius: 25px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: all 0.05s ease-in-out;
}

.userOption:hover {
  background: green;
  color: #fff;

  box-shadow: 0 0 10px rgba(0, 0, 0, 1);

  text-shadow: 0 0 4px #fff;
  transition: all 0.05s ease-in-out;
}

/* Cards */

.cardsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40vh;
  margin-bot: 40vh;
}

.hidden {
  display: none;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
