.main {
  position: absolute;
  top: 160px;

  width: 100vw;
  height: calc(100vh-160px);

  overflow: hidden;
}

.gridWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: auto;
}

.totalsGridWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  height: auto;
  width: auto;
}
