@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.main {
  background-color: #ffffff;
  position: absolute;
  margin-top: 100px;
  padding: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
.itemHeader {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 1px;
}

.itemLabel {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 1px;
}

.gridLayout {
  display: flex;
  flex-direction: column;
  grid-gap: 1px;
  margin-bottom: 1px;
}

.gridHeaders {
  height: 40px;
  display: grid;
  grid-gap: 1px;
  margin-bottom: 1px;
  grid-columns: 11;
  grid-template: 1fr / repeat(11, 1fr);
}

.gridData {
  display: grid;
  grid-gap: 1px;
  margin-bottom: 1px;
  grid-columns: 11;
  grid-template: 1fr / repeat(11, 1fr);
}
