@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.main {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 160px;

  width: 100vw;
  height: calc(100vh-160px);

  overflow: hidden;
}

.gridWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: auto;
}

.totalsGridWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  height: auto;
  width: auto;
}
