@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.main {
  background-color: #080710;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

.backgroundimage {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  z-index: 1;
  margin-top: 100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  animation: slide 16s linear infinite;
  width: 100vw;
  height: 60vw;
}

/*Animation activated by keyframes*/
@keyframes slide {
  0% {
    transform: translateX(-150%);
  }
  8% {
    transform: translateX(0);
  }
  16% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0);
  }
  55% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(0);
  }
  92% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
  }
}

.userformWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userform {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: 100px;
  top: 10vw;
  left: 50%;
  transform: translate(-50%);
  height: 40vw;
  width: 25vw;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.2);
  z-index: 2;
}
.userformcontent {
  color: #000000;
  outline: none;
  border: none;
}
.userformheader {
  font-size: 4vw;
  font-weight: 800;
  margin: 0;
  text-align: center;
  margin-top: 10px;
  opacity: 0.6;
}
.userformsubheader {
  font-size: 2vw;
  font-weight: 800;
  text-align: center;
  text-spacing: 0.3px;
}
.userformlabel {
  display: block;
  text-align: center;
  font-size: 2vw;
  font-weight: 300;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
}
.userforminput {
  display: block;
  height: 3vw;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 5px;
  font-size: 2vw;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
}

.userformbutton {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  color: #080710;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.social {
  margin-top: 30px;
  display: flex;
}
.socialdiv {
  background: red;
  width: 150px;
  border-radius: 5px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}
.socialdiv:hover {
  background-color: rgba(255, 255, 255, 0.47);
}
.socialgoogle {
  margin-left: 25px;
}
.socialheader {
  margin-right: 4px;
}
