@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.pageWrap {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin-top: 90px;
}

.scrapeTitle {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  margin: 10px;
  font-size: 24px;
  font-weight: 600;
}

.scrapeButton {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 40px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #000000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.scrapeWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 20px;
}

.scrapeInput {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 400px;
  background-color: #ffffff;
  padding: 20px;
  resize: horizontal;
  word-wrap: break-word;
  word-break: break-all;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.scrapeOutput {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 400px;
  background-color: #ffffff;
  padding: 20px;
  resize: horizontal;
  word-wrap: break-word;
  word-break: break-all;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.scrapeInput:active {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.scrapeOutput:active {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.scrapeButton:active {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}
