.backgroundWrapper {
  z-index: -1;
}

.backgroundImage {
  position: fixed;
  min-width: 2048px;
  min-height: 1152px;
  left: 50%;
  transform: translate(-50%);
}

.main {
  position: absolute;
  padding: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.contentWrapper {
  position: absolute;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.events {
  background: #fff;
  width: 280px;
  height: 40px;

  border: solid 2px lightgreen;
  border-radius: 25px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: all 0.05s ease-in-out;
}

.stats {
  background: #fff;
  width: 280px;
  height: 40px;

  border: solid 2px lightgreen;
  border-radius: 25px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: all 0.05s ease-in-out;
}

.account {
  background: #fff;
  width: 280px;
  height: 40px;

  border: solid 2px lightgreen;
  border-radius: 25px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: all 0.05s ease-in-out;
}

.events:hover,
.stats:hover,
.account:hover {
  background: green;
  width: 265px;
  height: 35px;
  margin: 2.5px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  transition: all 0.05s ease-in-out;
}
